@use "styles/variables" as *;

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
}

.text-muted {
  color: $text-muted;
  font-size: $font-size-sm;
}
